#instructions {
    border: 3px solid #000;
}

#white-background{
    background-color: #fff;
    padding: 20px;
    margin: 30px;
}

#gray-background{
    background-color: #d6d6d6;
    padding-bottom: 20px;
    margin: 20px 5px;
}

#inner-white{
    background-color: #fff;
    padding: 1% 0 3% 0;
    margin: 0 15% 2% 15%;
}

#red-bar{
    height: 7px;
    background: #D30000;
}

.center {
    text-align: center;
}

#address, #address-to, #address-from {
    display: flex;
    align-items: center;
}

#address-text {
    margin-left: 5px;
}

#address-info {
    padding-left: 4px;
}

#dropdown {
    opacity: .71;
}

h2, h5, p {
    margin: 0;
}

h2, h3 {
    margin: 2% 5%;
    font-weight: 400;
}

#subject {
    margin: 0 0 2% 0;
    padding-left: 55px;
}

p, span {
    color: #5e5e5e;
    font-size: 12px;
}

.green-background {
    background-color: green;
  }